{
    "env": {
        "browser": true,
        "es2020": true,
        "jest": true,
        "node": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:tailwindcss/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "bytechef",
        "react",
        "react-hooks",
        "tailwindcss"
    ],
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "bytechef/empty-line-between-elements": "error",
        "bytechef/group-imports": "error",
        "bytechef/no-conditional-object-keys": "error",
        "bytechef/no-duplicate-imports": "error",
        "bytechef/no-length-jsx-expression": "error",
        "bytechef/ref-name-suffix": "error",
        "bytechef/sort-import-destructures": "error",
        "bytechef/sort-imports": "error",
        "bytechef/use-state-naming-pattern": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "tailwindcss/classnames-order": "warn",
        "tailwindcss/no-custom-classname": [
            "warn",
            {
                "whitelist": [
                    "animate-slide-down",
                    "animate-slide-up",
                    "animate-slide-up-fade",
                    "animate-slide-down-fade",
                    "animate-slide-left-fade",
                    "animate-slide-right-fade",
                    "line-clamp-2",
                    "nowheel",
                    "w-112"
                ]
            }
        ],
        "tailwindcss/no-contradicting-classname": "error"
    }
}
