.ql-editor.ql-blank::before {
    @apply content-[attr(data-placeholder)];
    @apply absolute;
    @apply pointer-events-none;
    @apply opacity-100;
    @apply text-gray-400;
}

.ql-clipboard {
    @apply invisible;
    @apply h-0;
}

.ql-editor {
    @apply break-all;
    @apply rounded-md;
    @apply p-1.5;
    @apply text-sm;
    @apply leading-6;
    @apply focus:outline-none;
    @apply min-w-[34px];
    padding: 0.375rem;
}

.ql-mention-list-container {
    @apply bg-gray-100;
    @apply border;
    @apply shadow-lg;
    @apply z-50;
    @apply mx-4;
    @apply rounded-md;
    @apply max-h-96;
    @apply overflow-y-auto;
}

.ql-mention-list {
    @apply rounded-md;
    @apply space-y-2;
    @apply p-2;
}

.ql-mention-list-item {
    @apply px-2 py-1;
    @apply text-sm;
    @apply bg-white;
    @apply rounded-full;
    @apply cursor-pointer;
    @apply border border-transparent;
    @apply flex;
}

.ql-mention-list-item.selected {
    @apply bg-gray-200;
}

.ql-mention-list-item div {
    @apply flex;
    @apply items-center;
    @apply space-x-2;
}

.ql-mention-list-item svg {
    @apply h-4 w-4;
}

.property-mention {
    @apply inline-flex;
    @apply items-center;
    @apply h-[24px];
}

.property-mention > span {
    @apply inline-flex;
    @apply items-center;
    @apply border;
    @apply bg-gray-100;
    @apply hover:bg-gray-100;
    @apply px-2;
    @apply rounded-full;
}

.property-mention svg {
    @apply mr-1;
    @apply h-4 w-4;
}
