.content {
    @apply pointer-events-none;
}

.handle {
    @apply invisible;
}

.handleVisible {
    @apply -z-10;
    @apply h-2;
    @apply w-2;
    @apply border-0;
    @apply bg-stroke-neutral-tertiary;
}
