.property-mentions-editor {
    > div {
        @apply w-full;
    }

    .tiptap {
        /* placeholder */
        p.is-editor-empty:first-child::before {
            @apply content-[attr(data-placeholder)];
            @apply text-foreground/40;
            @apply float-left;
            @apply h-0;
            @apply pointer-events-none;
        }
    }
}
