global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'bytechef'

scrape_configs:
  - job_name: 'bytechef'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:9555']
