[versions]
ch-qos-logback = "1.4.7"
checkstyle = "10.6.0"
com-github-kagkarlsson = "12.1.0"
com-google-auto-service = "1.1.0"
info-picocli = "4.7.3"
org-mapstruct = "1.5.5.Final"
org-mapstruct-extensions-spring = "1.0.1"
org-springframework-boot = "3.1.0"
org-springframework-cloud = "4.0.2"
org-springframework-cloud-dependencies = "2022.0.2"
org-testcontainers = "1.18.1"
pmd = "6.54.0"
spotbugs = "4.7.3"

[libraries]
ch-qos-logback-logback-classic = { module = "ch.qos.logback:logback-classic", version.ref = "ch-qos-logback" }
ch-qos-logback-logback-core = { module = "ch.qos.logback:logback-core", version.ref = "ch-qos-logback" }
com-github-kagkarlsson-db-scheduler = { module = "com.github.kagkarlsson:db-scheduler", version.ref = "com-github-kagkarlsson" }
com-github-kagkarlsson-db-scheduler-spring-boot-starter = { module = "com.github.kagkarlsson:db-scheduler-spring-boot-starter", version.ref = "com-github-kagkarlsson" }
com-github-miachm-sods-SODS = "com.github.miachm.sods:SODS:1.5.4"
com-github-mizosoft-methanol = "com.github.mizosoft.methanol:methanol:1.7.0"
com-github-spotbugs-spotbugs-annotations = "com.github.spotbugs:spotbugs-annotations:4.7.3"
com-github-tomakehurst-wiremock = "com.github.tomakehurst:wiremock:3.0.0-beta-8"
com-google-auto-service-auto-service = { module = "com.google.auto.service:auto-service", version.ref = "com-google-auto-service" }
com-google-auto-service-auto-service-annotations = { module = "com.google.auto.service:auto-service-annotations", version.ref = "com-google-auto-service" }
com-jayway-jsonpath-json-path = "com.jayway.jsonpath:json-path:2.8.0"
com-squareup-javapoet = "com.squareup:javapoet:1.13.0"
com-zaxxer-HikariCP = "com.zaxxer:HikariCP:5.0.1"
info-picocli = { module = "info.picocli:picocli", version.ref = "info-picocli" }
info-picocli-picocli-codegen = { module = "info.picocli:picocli-codegen", version.ref = "info-picocli" }
io-projectreactor-reactor-core = "io.projectreactor:reactor-core:3.5.6"
io-swagger-core-v3-swagger-annotations = "io.swagger.core.v3:swagger-annotations:2.2.10"
io-swagger-parser-v3-swagger-parser = "io.swagger.parser.v3:swagger-parser:2.1.14"
jakarta-annotation-jakarta-annotation-api = "jakarta.annotation:jakarta.annotation-api:2.1.1"
jakarta-jms-jakarta-jms-api = "jakarta.jms:jakarta.jms-api:3.1.0"
jakarta-validation-jakarta-validation-api = "jakarta.validation:jakarta.validation-api:3.0.2"
mysql-mysql-connector-java = "mysql:mysql-connector-java:8.0.33"
org-apache-activemq-artemis-jakarta-server = "org.apache.activemq:artemis-jakarta-server:2.28.0"
org-apache-logging-log4j-log4j-core = "org.apache.logging.log4j:log4j-core:2.17.1"
org-apache-poi-poi-ooxml = "org.apache.poi:poi-ooxml:5.2.3"
org-apache-tika-tika-core = "org.apache.tika:tika-core:2.8.0"
org-eclipse-jgit-org-eclipse-jgit = "org.eclipse.jgit:org.eclipse.jgit:6.5.0.202303070854-r"
org-flywaydb-flyway-core = "org.flywaydb:flyway-core:9.19.0"
org-graalvm-sdk-graal-sdk = "org.graalvm.sdk:graal-sdk:22.3.2"
org-json = "org.json:json:20230227"
org-junit-jupiter-junit-jupiter-engine = "org.junit.jupiter:junit-jupiter-engine:5.9.3"
org-mapstruct = { module = "org.mapstruct:mapstruct", version.ref = "org-mapstruct" }
org-mapstruct-extensions-spring-mapstruct-spring-annotations = { module = "org.mapstruct.extensions.spring:mapstruct-spring-annotations", version.ref = "org-mapstruct-extensions-spring" }
org-mapstruct-extensions-spring-mapstruct-spring-extensions = { module = "org.mapstruct.extensions.spring:mapstruct-spring-extensions", version.ref = "org-mapstruct-extensions-spring" }
org-mapstruct-mapstruct-processor = { module = "org.mapstruct:mapstruct-processor", version.ref = "org-mapstruct" }
org-openapitools-jackson-databind-nullable = "org.openapitools:jackson-databind-nullable:0.2.6"
org-slf4j-slf4j-api = "org.slf4j:slf4j-api:2.0.7"
org-springdoc-springdoc-openapi-starter-webmvc-ui = "org.springdoc:springdoc-openapi-starter-webmvc-ui:2.1.0"
org-springframework-boot-spring-boot = { module = "org.springframework.boot:spring-boot", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-autoconfigure = { module = "org.springframework.boot:spring-boot-autoconfigure", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-dependencies = { module = "org.springframework.boot:spring-boot-dependencies", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-devtools = { module = "org.springframework.boot:spring-boot-devtools", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-starter-actuator = { module = "org.springframework.boot:spring-boot-starter-actuator", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-starter-amqp = { module = "org.springframework.boot:spring-boot-starter-amqp", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-starter-artemis = { module = "org.springframework.boot:spring-boot-starter-artemis", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-starter-cache = { module = "org.springframework.boot:spring-boot-starter-cache", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-starter-data-jdbc = { module = "org.springframework.boot:spring-boot-starter-data-jdbc", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-starter-data-redis = { module = "org.springframework.boot:spring-boot-starter-data-redis", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-starter-test = { module = "org.springframework.boot:spring-boot-starter-test", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-starter-webflux = { module = "org.springframework.boot:spring-boot-starter-webflux", version.ref = "org-springframework-boot" }
org-springframework-boot-spring-boot-test = { module = "org.springframework.boot:spring-boot-test", version.ref = "org-springframework-boot" }
org-springframework-cloud-spring-cloud-commons = { module = "org.springframework.cloud:spring-cloud-commons", version.ref = "org-springframework-cloud" }
org-springframework-cloud-spring-cloud-starter = { module = "org.springframework.cloud:spring-cloud-starter", version.ref = "org-springframework-cloud" }
org-springframework-cloud-spring-cloud-starter-loadbalancer = { module = "org.springframework.cloud:spring-cloud-starter-loadbalancer", version.ref = "org-springframework-cloud" }
org-springframework-retry-spring-retry = "org.springframework.retry:spring-retry:2.0.1"
org-testcontainers = { module = "org.testcontainers:testcontainers", version.ref = "org-testcontainers" }
org-testcontainers-postgresql = { module = "org.testcontainers:postgresql", version.ref = "org-testcontainers" }
org-zeroturnaround-zt-exec = "org.zeroturnaround:zt-exec:1.12"
software-amazon-awssdk-s3 = "software.amazon.awssdk:s3:2.20.71"

[plugins]
com-diffplug-spotless = "com.diffplug.spotless:6.19.0"
com-github-ben-manes-versions = "com.github.ben-manes.versions:0.46.0"
com-github-spotbugs = "com.github.spotbugs:5.0.14"
com-google-cloud-tools-jib = "com.google.cloud.tools.jib:3.3.2"
com-gorylenko-gradle-git-properties = "com.gorylenko.gradle-git-properties:2.4.1"
nl-littlerobots-version-catalog-update = "nl.littlerobots.version-catalog-update:0.8.0"
org-openapi-generator = "org.openapi.generator:6.6.0"
org-sonarqube = "org.sonarqube:4.0.0.2929"
org-springframework-boot = "org.springframework.boot:3.1.0"
