---
services:
  mailpit:
    image: axllent/mailpit
    platform: linux/amd64
    ports:
      - "1025:1025"
      - "8025:8025"
  pgvector:
    image: pgvector/pgvector:pg16
    platform: linux/amd64
    ports:
      - "5433:5432"
    volumes:
      - "pgvector:/var/lib/postgresql/data"
    environment:
      - "POSTGRES_PASSWORD=postgres"
      - "POSTGRES_USER=postgres"
      - "POSTGRES_DB=bytechef_vectorstore"
  postgres:
    image: postgres:16-alpine
    platform: linux/amd64
    ports:
    - "5432:5432"
    volumes:
    - "db:/var/lib/postgresql/data"
    environment:
    - "POSTGRES_PASSWORD=postgres"
    - "POSTGRES_USER=postgres"
    - "POSTGRES_DB=bytechef"
  rabbitmq:
    image: rabbitmq:4.1.4-management-alpine
    platform: linux/amd64
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq-lib:/var/lib/rabbitmq/
      - rabbitmq-log:/var/log/rabbitmq
  redis:
    image: redis:7-alpine
    platform: linux/amd64
    restart: always
    ports:
    - "6379:6379"
    command: "redis-server --save 20 1 --loglevel warning"
    volumes:
    - "cache:/data"
volumes:
  cache:
    driver: "local"
  db:
    driver: "local"
  pgvector:
    driver: "local"
  rabbitmq-lib:
    driver: local
  rabbitmq-log:
    driver: local
