.property-mentions-editor {
    > div {
        @apply w-full;
    }

    .tiptap {
        /* placeholder */
        p.is-editor-empty:first-child::before {
            @apply content-[attr(data-placeholder)];
            @apply text-foreground/40;
            @apply absolute;
            @apply h-0;
            @apply pointer-events-none;
        }
    }

    &.is-from-ai {
        .tiptap {
            p {
                @apply inline-flex items-center rounded-full bg-muted px-2 py-0.5 font-mono text-sm leading-none;
            }
        }
    }
}
