---
# Conditionally disable springdoc on missing api-docs profile
spring:
  config:
    activate:
      on-profile: '!api-docs'
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
---

info:
  ai:
    copilot:
      enabled: ${bytechef.ai.copilot.enabled}
  analytics:
    enabled: ${bytechef.analytics.enabled}
    postHog:
      apiKey: ${post-hog.api-key:}
      host: ${post-hog.host:}
  application:
    edition: ${bytechef.edition:}
  featureFlags: ${bytechef.feature-flags}
  helpHub:
    enabled: ${bytechef.help-hub.enabled}
    commandBar:
      orgId: ${command-bar.org-id:}
  signUp:
    activationRequired: ${bytechef.sign-up.activation-required}
    enabled: ${bytechef.sign-up.enabled}

logging:
  level:
    ROOT: INFO
    org.quartz: WARN
    org.jline: ERROR
    com.bytechef.ee.platform.scheduler.tenant: ERROR

management:
  endpoints:
    web:
      exposure:
        include:
          - configprops
          - env
          - health
          - info
          - logfile
          - loggers
          - prometheus
          - threaddump
          - caches
          - liquibase
  endpoint:
    env:
      show-values: when_authorized
    health:
      showDetails: always
      probes:
        enabled: true
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState,db
  health:
    neo4j:
      enabled: false
    redis:
      enabled: false
  info:
    git:
      mode: full
    env:
      enabled: true
  metrics:
    enable:
      http: true
      jvm: true
      logback: true
      process: true
      system: true
    distribution:
      percentiles-histogram:
        all: true
      percentiles:
        all: 0, 0.5, 0.75, 0.95, 0.99, 1.0
    tags:
      application: ${spring.application.name}
  observations:
    key-values:
      application: ${spring.application.name}
  # Prometheus is the default metrics backend
  prometheus:
    metrics:
      export:
        enabled: ${bytechef.observability.enabled}
        step: 60
  tracing:
    enabled: ${bytechef.observability.enabled}
    sampling:
      probability: 1.0
  otlp:
    metrics:
      export:
        enabled: ${bytechef.observability.enabled}
    tracing:
      endpoint: ${bytechef.tracing.otlp.endpoint}

openapi:
  openAPIDefinition:
    base-path:
      automation: /api/automation
      embedded: /api/embedded
      platform: /api/platform

spring:
  ai:
    chat:
      client:
        enabled: ${bytechef.ai.copilot.enabled}
    model:
      audio:
        speech: none
        transcription: none
      chat: none
      embedding: none
      image: none
      moderation: none
    anthropic:
      api-key: ${bytechef.ai.copilot.anthropic.api-key}
      chat:
        options:
          model: ${bytechef.ai.copilot.anthropic.chat.options.model}
          temperature: ${bytechef.ai.copilot.anthropic.chat.options.temperature}
    openai:
      api-key: ${bytechef.ai.copilot.openai.api-key}
      chat:
        options:
          model: ${bytechef.ai.copilot.openai.chat.options.model}
          temperature: ${bytechef.ai.copilot.openai.chat.options.temperature}
    vectorstore:
      type: none
      pgvector:
        dimensions: 1536
        initialize-schema: true
  application:
    name: server-app
  autoconfigure:
    exclude:
      org.springframework.boot.autoconfigure.neo4j.Neo4jAutoConfiguration,
      org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
  cache:
    type: ${bytechef.cache.provider}
  cloud:
    aws:
      s3:
        enabled: false
      secretsmanager:
        enabled: false
      sqs:
        enabled: false
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${bytechef.datasource.url}
    username: ${bytechef.datasource.username}
    password: ${bytechef.datasource.password}
    hikari:
      connection-test-query: SELECT 1
      poolName: Hikari
  h2:
    console:
      enabled: false
  graphql:
    schema:
      locations: classpath*:graphql/**/
  jmx:
    enabled: false
  mail:
    host: ${bytechef.mail.host}
    port: ${bytechef.mail.port}
    username: ${bytechef.mail.username}
    password: ${bytechef.mail.password}
    properties:
      mail:
        debug: ${bytechef.mail.debug}
        smtp:
          auth: ${bytechef.mail.auth}
          starttls:
            enable: ${bytechef.mail.starttls.enable}
            required: ${bytechef.mail.starttls.required}
        transport:
          protocol: ${bytechef.mail.protocol}
    protocol: ${bytechef.mail.protocol}
    ssl:
      enabled: ${bytechef.mail.ssl.enabled}
  liquibase:
    contexts: mono, #spring.profiles.active#
  output:
    ansi:
      enabled: always
  profiles:
    active: #spring.profiles.active#
    group:
      dev:
        - dev
        - api-docs
  rabbitmq:
    listener:
      direct:
        prefetch: 1
  shell:
    interactive:
      enabled: false
    history:
      enabled: false
    noninteractive:
      enabled: false
  quartz:
    auto-startup: false
    job-store-type: jdbc
    jdbc:
      initialize-schema: never
    properties:
      org.quartz.jobStore.driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
  task:
    execution:
      thread-name-prefix: server-app-task-
      pool:
#        core-size: 2
        max-size: 50
        queue-capacity: 10000
    scheduling:
      thread-name-prefix: server-app-scheduling-
      pool:
        size: 2
  threads:
    virtual:
      enabled: true

server:
  servlet:
    session:
      cookie:
        http-only: true

springdoc:
  show-actuator: true
  swagger-ui:
    operationsSorter: method
    tags-sorter: alpha

templates:
  owner: bytechefhq
  ref: master
  repo: bytechef-workflows
  submission-form:
    projects: https://forms.gle/W6zsUuwd7qPtoE836
    workflows: https://forms.gle/xA8yyUSzKkHYajHx5

######################################################################

bytechef:
  ai:
    copilot:
      anthropic:
        chat:
          options:
            model: claude-sonnet-4-5
            temperature: 0.5
        embedding:
          provider: openai
          openai:
            options:
              model: text-embedding-3-small
      provider: openai
      enabled: false
      openai:
        chat:
          options:
            model: gpt-4.1
            temperature: 0.5
        embedding:
          options:
            model: text-embedding-3-small
  analytics:
    enabled: false
  cache:
    # Cache provider (redis | caffeine) default: caffeine
    provider: caffeine
  coordinator:
    trigger:
      polling:
        # Trigger polling interval in minutes (default: 5)
        check-period: 5
      scheduler:
        # Trigger scheduler provider (aws(ee) | quartz) default: quartz
        provider: quartz
  data-storage:
    # Data storage provider (aws(ee) | filesystem | jdbc) default: jdbc
    provider: jdbc
  # Edition (CE - Community Edition | EE - Enterprise Edition) default: EE
  edition: EE
  # Encryption key provider (filesystem - the key generated on filesystem, property - the key read from property) default: filesystem
  encryption:
    provider: filesystem
  file-storage:
    # File storage provider (aws(ee) | filesystem | jdbc) default: filesystem
    provider: filesystem
    filesystem:
      basedir: ${user.home}/bytechef/data/file-storage
  help-hub:
    enabled: false
  mail:
    auth: false
    base-url: ${bytechef.public-url}
    debug: false
    from: noreply@app.bytechef.io
    host: localhost
    port: 25
    protocol: smtp
    ssl:
      enabled: false
    starttls:
      enable: false
      required: false
  message-broker:
    # Messaging provider between Coordinator and Workers (amqp | jms | kafka | memory | redis) default: memory
    provider: memory
  oauth2:
#    predefinedApps:
#      mailchimp:
#        clientId: 123456789
#        clientSecret: 123456789
    redirect-uri: ${bytechef.public-url}/callback
  observability:
    loki:
      appender:
        level: "ALL"
        http:
          url: http://localhost:3100/loki/api/v1/push
    enabled: false
  public-url:
  resources:
    web: file:///opt/bytechef/client/
  security:
    content-security-policy: "default-src 'self'; frame-src 'self' https://*.command.ai data:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.command.ai https://*.commandbar.com https://*.i.posthog.com https://cdn.jsdelivr.net https://storage.googleapis.com https://unpkg.com; style-src 'self' 'unsafe-inline' https://*.commandbar.com https://cdn.jsdelivr.net https://*.command.ai https://unpkg.com; img-src 'self' https://*.command.ai data:; font-src 'self' data:; media-src 'self' https://*.command.ai; connect-src 'self' https://*.command.ai https://*.i.posthog.com https://*.commandbar.com; worker-src blob: 'self';"
    system:
      username: system_admin
      password:
  sign-up:
    activation-required: false
  # Tenant support mode (single | multi - ee only) default: single
  tenant:
    mode: single
  tracing:
    otlp:
      endpoint: http://localhost:4318/v1/traces
  webhook-url:
  # When the worker is enabled, subscribe to the default "default" queue with 10 concurrent consumers.
  # You may also route workflow tasks to other arbitrarily named task queues by specifying the "node"
  # property on any given task.
  # E.g. node: captions will route to the captions queue which a worker would subscribe to with workflow.worker.subscriptions.captions.
  # Note: queue must be created before tasks can be routed to it. ByteChef will create the queue if it isn't already there when the worker
  # bootstraps.
  worker:
    task:
      subscriptions:
        default: 10
  workflow:
    output-storage:
      # Output storage provider for workflow output data (aws(ee) | filesystem | jdbc) default: jdbc
      provider: jdbc
    repository:
      jdbc:
        enabled: true
