logging:
  level:
    ROOT: INFO
    com.bytechef: DEBUG
    org.springframework.ai.chat.client.advisor': DEBUG

server:
  port: 9555

spring:
  devtools:
    livereload:
      enabled: false
    restart:
      enabled: true
  graphql:
    graphiql:
      enabled: true
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false

#####

bytechef:
  ai:
    copilot:
      vectorstore:
        pgvector:
          url: jdbc:postgresql://localhost:5433/bytechef_copilot
          username: postgres
          password: postgres
  datasource:
    # PostgreSQL database
    #    url: jdbc:postgresql://localhost:5432/bytechef
    #    username: postgres
    #    password: postgres
    # H2 database
    #    url: jdbc:h2:file:~/.bytechef/bytechef;DB_CLOSE_ON_EXIT=FALSE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    #    username: sa
    #    password:
    url: jdbc:postgresql://localhost:5432/bytechef
    username: postgres
    password: postgres
  mail:
    host: localhost
    port: 1025
  public-url: http://127.0.0.1:5173
  security:
    remember-me:
      key: e48612ba1fd46fa7089fe9f5085d8d164b53ffb2
  webhook-url: http://127.0.0.1:9555/webhooks/{id}
  feature-flags:
    - ff-207
    - ff-445
    - ff-520
    - ff-743
    - ff-797
    - ff-1023
    - ff-1024
    - ff-1025
    - ff-1039
    - ff-1057
    - ff-1779
    - ff-1570
    - ff-1840
    - ff-1874
    - ff-2445
    - ff-2500
    - ff-2501
    - ff-2502
    - ff-2503
    - ff-2504
