logging:
  level:
    ROOT: INFO
    com.bytechef: DEBUG

spring:
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false
