server:
  port: 6133

spring:
  ai:
    model:
      audio:
        speech: none
        transcription: none
      chat: none
      embedding: none
      image: none
      moderation: none
    openai:
      api-key: ${bytechef.ai.copilot.openai.api-key}
      chat:
        options:
          model: ${bytechef.ai.copilot.openai.chat.options.model}
          temperature: ${bytechef.ai.copilot.openai.chat.options.temperature}
    vectorstore:
      pgvector:
        dimensions: 1536
        initialize-schema: true
  application:
    name: ai-copilot
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://localhost:5432/bytechef
    username: postgres
    password: postgres
  profiles:
    active: #spring.profiles.active#
    group:
      dev:
        - dev

######################################################################

bytechef:
  ai:
    copilot:
      anthropic:
        chat:
          options:
            model: claude-sonnet-4-5
            temperature: 0.5
      chat:
        provider: openai
      embedding:
        provider: openai
      enabled: true
      openai:

        chat:
          options:
            model: gpt-4.1
            temperature: 0.5
      vectorstore:
        pgvector:
          url: jdbc:postgresql://localhost:5432/bytechef
          username: postgres
          password: postgres
  edition: EE
