<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="logback-spring.xml"/>

    <springProperty name="applicationName" source="spring.application.name"/>
    <springProperty name="loki.appender.level" source="bytechef.loki.appender.level" defaultValue="OFF" />

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${loki.appender.level}</level>
        </filter>
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${applicationName},host=${HOSTNAME},traceID=%X{traceId:-NONE},level=%level</pattern>
            </label>
            <message>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="${log.level}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>
</configuration>
