@tailwind base;
@tailwind components;

@layer components {
    .heading-tertiary {
        @apply font-semibold uppercase text-muted-foreground;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --info: 214, 100%, 97%;
        --info-foreground: 224, 76%, 48%;
        --success: 142 76% 36%;
        --success-foreground: 142 77% 73%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 213 87% 48%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --skeleton: 220 9% 93%;
        --surface-brand-primary: 217 91% 40%;
        --surface-brand-primary-hover: 217 91% 36%;
        --surface-brand-primary-active: 217 92% 28%;
        --surface-brand-primary-disabled: 217 91% 40% / 50%;
        --surface-brand-secondary: 215 61% 94%;
        --surface-brand-secondary-hover: 212 80% 90%;
        --surface-brand-tertiary: 217 61% 52%;
        --surface-destructive-primary: 0 72% 51%;
        --surface-destructive-primary-hover: 0 74% 42%;
        --surface-destructive-primary-active: 0 70% 35%;
        --surface-destructive-secondary: 0 86% 97%;
        --surface-success-primary: 142 72% 29%;
        --surface-success-primary-hover: 143 64% 24%;
        --surface-success-primary-active: 144 61% 20%;
        --surface-success-secondary: 138 76% 97%;
        --surface-success-secondary-hover: 141 84% 93%;
        --surface-main: 210 40% 98%;
        --surface-overlay-primary: 222 47% 11%;
        --surface-disabled: 0 0% 83%;
        --surface-tooltip: 229 84% 5%;
        --surface-neutral-primary: 0 0% 100%;
        --surface-neutral-primary-active: 214 32% 91%;
        --surface-neutral-primary-hover: 210 40% 96%;
        --surface-neutral-primary-active: 214 32% 91%;
        --surface-neutral-secondary: 210 40% 96%;
        --surface-neutral-secondary-hover: 214 32% 91%;
        --surface-neutral-secondary-active: 213 27% 84%;
        --surface-neutral-tertiary: 214 32% 91%;
        --surface-neutral-tertiary-hover: 213 27% 84%;
        --surface-neutral-transparent: 0 0% 100% / 0%;
        --surface-popover-canvas: 210 40% 98%;
        --surface-warning-primary: 48 96% 53%;
        --surface-warning-secondary: 55 92% 95%;
        --surface-warning-secondary-hover: 55 97% 88%;
        --surface-warning-secondary-active: 53 98% 77%;
        --content-brand-primary: 217 91% 40%;
        --content-brand-primary-hover: 217 91% 36%;
        --content-brand-primary-active: 217 92% 28%;
        --content-brand-secondary: 217 92% 28%;
        --content-destructive: 0 74% 42%;
        --content-destructive-primary: 0 74% 42%;
        --content-destructive-secondary: 0 94% 82%;
        --content-neutral-primary: 229 84% 5%;
        --content-neutral-secondary: 215 19% 35%;
        --content-neutral-secondary-hover: 215 19% 35%;
        --content-neutral-tertiary: 215 20% 65%;
        --content-onsurface-primary: 0 0% 100%;
        --content-onsurface-secondary: 215 20% 65%;
        --content-onwarning: 229 84% 5%;
        --content-disabled: 0 0% 64%;
        --content-canvas_dot: 214 32% 91%;
        --content-success-primary: 142 72% 29%;
        --content-success: 142 72% 29%;
        --content-warning-primary: 35 92% 33%;
        --content-warning: 45 93% 47%;
        --stroke-neutral-primary: 213 27% 84%;
        --stroke-neutral-primary-hover: 215 20% 65%;
        --stroke-neutral-secondary: 214 32% 91%;
        --stroke-neutral-tertiary: 213, 27%, 84%;
        --stroke-brand-primary: 217 91% 40%;
        --stroke-brand-primary-hover: 217 91% 36%;
        --stroke-brand-primary-active: 217 92% 28%;
        --stroke-brand-primary-pressed: 213 87% 34%;
        --stroke-brand-secondary: 217 62% 82%;
        --stroke-brand-secondary-hover: 217 61% 73%;
        --stroke-brand-secondary-active: 217 61% 52%;
        --stroke-destructive-primary: 0 74% 42%;
        --stroke-destructive-primary-hover: 0 70% 35%;
        --stroke-destructive-primary-active: 0 63% 31%;
        --stroke-destructive-secondary: 0 74% 42% / 50%;
        --stroke-destructive-secondary-hover: 0 72% 51%;
        --stroke-branch-primary: 239 84% 67%;
        --stroke-branch-secondary: 243 75% 59%;
        --stroke-branch-tertiary: 245 58% 51%;
        --stroke-condition-primary: 175 84% 32%;
        --stroke-condition-secondary: 175 77% 26%;
        --stroke-condition-tertiary: 176 69% 22%;
        --stroke-each-primary: 200 98% 39%;
        --stroke-each-secondary: 201 96% 32%;
        --stroke-each-tertiary: 201 90% 27%;
        --stroke-fork-join-primary: 32 95% 44%;
        --stroke-fork-join-secondary: 26 90% 37%;
        --stroke-fork-join-tertiary: 23 83% 31%;
        --stroke-loop-primary: 21 90% 48%;
        --stroke-loop-secondary: 17 88% 40%;
        --stroke-loop-tertiary: 15 79% 34%;
        --stroke-loop-break-primary: 292 84% 61%;
        --stroke-loop-break-secondary: 293 69% 49%;
        --stroke-loop-break-tertiary: 295 72% 40%;
        --stroke-map-primary: 271 91% 65%;
        --stroke-map-secondary: 271 81% 56%;
        --stroke-map-tertiary: 272 72% 47%;
        --stroke-parallel-primary: 85 85% 35%;
        --stroke-parallel-secondary: 86 78% 27%;
        --stroke-parallel-tertiary: 86 69% 23%;
        --stroke-subflow-primary: 161 94% 30%;
        --stroke-subflow-secondary: 163 94% 24%;
        --stroke-subflow-tertiary: 163 88% 20%;
        --stroke-disabled: 0 0% 64%;
        --stroke-onsurface-primary: 0 0% 100%;
        --stroke-onsurface-primary-hover: 0 0% 100%;
        --stroke-success-primary: 142 72% 29%;
        --stroke-success-primary-hover: 143 64% 24%;
        --stroke-success-primary-active: 144 61% 20%;
        --stroke-success-secondary: 142 72% 29% / 50%;
        --stroke-warning-primary: 45 93% 47%;
        --stroke-warning-primary-hover: 41 96% 40%;
        --stroke-warning-primary-active: 35 92% 33%;
        --radius: 0.5rem;
        --workflow-nodes-popover-component-menu-width: 330px;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --info: 214, 100%, 97%;
        --info-foreground: 224, 76%, 48%;
        --success: 142, 69%, 58%;
        --success-foreground: 144, 61%, 20%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --content-neutral-primary: 210 40% 98%;
        --content-neutral-secondary: 215 20% 65%;
        --content-neutral-secondary-hover: 215 20% 65%;
        --content-neutral-tertiary: 215 20% 65%;
        --content-onsurface-primary: 210 40% 98%;
        --content-onsurface-secondary: 214 32% 91%;
        --content-onwarning: 229 84% 5%;
        --content-disabled: 0 0% 64%;
        --content-canvas_dot: 217 33% 17%;
        --content-brand-primary: 217 61% 73%;
        --content-brand-primary-hover: 217 91% 36%;
        --content-brand-primary-active: 217 92% 28%;
        --content-brand-secondary: 217 91% 40%;
        --content-destructive-primary: 0 84% 60%;
        --content-destructive-secondary: 0 0% 100%;
        --content-success-primary: 142 71% 45%;
        --content-warning-primary: 45 93% 47%;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
